.App {
  background-image: url("bg.jpg");
  background-size: no-repeat fixed;
  text-align: center;
}

.App-logo {
  height: 100%;
}

.App-header {
  background-color: rgba(255,255,255,0);
  height: 100px;
  color: white;
}

.App-title {
  font-size: 150px;
  font-family: 'lovepolice';
}

.App-intro {
  font-size: large;
}

header p {
  font-size: 45px;
  font-family: 'lovepolice';
}

p {
  color: white;
}
