.App {
  text-align: center;
}

.App-wallpaper {
  animation: App-wallpaper-spin infinite 60s linear;
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*Rotation wallpaper.*/
/*@keyframes App-wallpaper-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
<<<<<<< HEAD
*/
=======

header, body{
  background-image: url("bg.jpg");
}
>>>>>>> 25f0bd0c45075f23d06f359e71708ff867c112d6
