@font-face {
  font-family:'lovepolice';
  src: url('./lovers-quarrel/LoversQuarrel-Regular.otf')
}
@font-face {
  font-family: 'starwarsPolice';
  src: url('./starWars/STARWARS.ttf')
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image:  url("bg.png");
}


p {
  color: white;
}
input.form-control {
  border-color: #ffd700;
}
/* input.placeholder.form-control {
  color: #ffd700;
}
input.placeholder{
  color: #ffd700;
} */

.formulaire{
  color: #ffd700;
}
select.form-control {
  border-color: #ffd700;
}

.placeholder.form-control {
  color: #ffd700;
}

label {
  color: white;
}

.story {
  font-size: 1.5em;
  font-family: 'starwarsPolice';
}
